*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

:root {
--morado:rgb(120,37,111);
--naranja:rgb(253,111,33);
font-size: 20px;
}

a{text-decoration: none;
	text-decoration: none;
	list-style: none;
	margin: 3px;
	color: rgb(255, 255, 255);
}

body{
	background-color: rgb(230, 230, 230);
	color: rgb(255, 255, 255);

}

.encabezado{
	display: flex;
	flex-wrap: wrap;
	
}
.puerto{
	height: 50px;
	align-self: flex-end;
	margin: 15px;
	position: sticky;
}
h1{	
	width: 100%;
	text-align: center;
	padding: 15px 0 0 0px;
	margin: 0 0 15px 0px;
	background: var(--morado);
	border-bottom: 10px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

.contenido{	
	display: flex;
	flex-wrap: wrap;

}
h2{
	width: 100%;
	padding: 20px 0px 0 30px;
	color: rgb(255,0,181);
}
h3{
	width: 100%;
	padding: 20px 0px 0 30px;
	color: rgb(255,0,181);
}

.mapa{
	text-align: center;
	color: red;
}

.container_layout{
	height: 70vh;
	display: flex;
	width: 100vw;
	justify-content: center;
		
}
#layout{
	height: 90%;
	justify-self: flex-end;
	
	overflow: auto;
}

.contenedor{
	border: 5px inset rgba(120,37,164,0.88);
border-radius: 5px 40px 5px 5px;
 background: rgb(255,0,181);
background: linear-gradient(90deg, rgba(255,0,181,1) 0%, rgba(255,0,254,0.15730042016806722) 100%);
}

.contenedor:hover{
background-color: rgb(253,150,63);
border-radius: 50px;

}

li{
	text-decoration: none;
	list-style: none;
	margin: 3px;
}

.Ogeneral{

padding: 15px;
width: 100%;
display: grid;
grid-template-columns:repeat(auto-fill,minmax(250px, 1fr));
grid-gap: 20px;
text-align: center;

}

.container_elementos{
	width: 100%;
}

/*---------------------------------Aqui esta los nav ocultos*/
.caja-mensaje{

 position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgb(0,0,0,.9);
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in;

}
.caja-container-mensaje{
	position: relative;
  width: 85vw;
  height: 90vh;
  border-radius: 5px;
  overflow: auto;
  
}
.caja_visible {
  visibility: visible;
  opacity: 1;
}
.modal-header{
background: r<<gb(103,11,149);
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 10px 10px 50px;
font-size: 30PX;

}


.container-img{
text-align: center;

}

.caja_img{
 height: 20vw;
}
.img-resultado{
	height: 80%;
}

.modal-content{
	background: rgb(103,11,149);
	background: linear-gradient(90deg, rgba(103,11,149,1) 0%, rgba(255,0,185,1) 100%);
	display: grid;
	grid-template-columns: 30% 70%;
	align-items: center;

}

#retiroResultado{
	color: white;
	text-align: center;
	
}


.Cerrar_{
background-color: rgb(22,94,116,.5);
color: white;
font-size: 25px;
font-weight: bolder;
border-style: none;
padding: 2px 7px;
border-radius: 3px;
border-bottom: 3px solid  rgb(0, 0, 0);
cursor: pointer;
}

.Cerrar_:hover{
background-color: rgb(200,0,0,.9);
}

footer{
	background: rgb(103,11,149);
	text-align: center;
}

.glosario{
color: rgb(75, 0, 70);
padding: 50PX;
}


.texto_{
	color: rgb(0, 0, 0);
	padding: 20px;
}