*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

:root {
--morado:rgb(120,37,111);
--naranja:rgb(253,111,33);
font-size: 20px;

}

a{text-decoration: none;
	text-decoration: none;
	list-style: none;
	margin: 3px;
	color: rgb(255, 255, 255);
}

body{
	background-color: rgb(230, 230, 230);
	color: rgb(255, 255, 255);

}

.encabezado{
	display: flex;
	flex-wrap: wrap;
	
}
.puerto{
	height: 50px;
	align-self: flex-end;
	margin: 15px;
	position: sticky;
}
h1{	
	width: 100%;
	text-align: center;
	padding: 15px 0 0 0px;
	margin: 0 0 15px 0px;
	background: var(--morado);
	border-bottom: 10px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

.contenido{	
	display: flex;
	flex-wrap: wrap;

}
h2{
	width: 100%;
	padding: 20px 0px 0 30px;
	color: var(--naranja);
}
.Ogeneral{
margin: 15px;
padding: 15px;
width: 100%;
display: grid;
grid-template-columns:repeat(auto-fill,minmax(250px, 1fr));
grid-gap: 20px;
text-align: center;

}
.contenedor{
	border: 5px inset rgba(120,37,164,0.88);
border-radius: 5px 40px 5px 5px;
 background: var(--naranja);

}

.contenedor:hover{
background-color: rgb(253,150,63);
border-radius: 50px;

}

.Aoportunidad{
margin: 15px;
width: 100%;
display: grid;
grid-template-columns:repeat(auto-fill,minmax(250px, 1fr));
grid-gap: 20px;
text-align: center;
}


li{
	text-decoration: none;
	list-style: none;
	margin: 3px;
}

img{
	height: 100px;
	margin: 7px;
}

.enlaces{
display: flex;
width: 80%;
background-color: rgb(128, 0, 120);
position: sticky;
top: 0;
justify-content: space-around;
margin: 10px auto;
padding: 5px 20px;
align-items: center;
border-radius:20px;
}

.inicio:hover{
	color: rgb(255, 0, 255);
}

.cerrar:hover{
	color: rgb(255, 0, 255);
}

.creador{
	border-radius: 500px;
	height: 200px;
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.nombre{
	width: 100%;
}

.creador:hover{
	border-radius: 500px;
}