*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

:root {
--morado:rgb(120,37,111);
--naranja:rgb(253,111,33);
font-size: 20px;
}

a{text-decoration: none;
	text-decoration: none;
	list-style: none;
	margin: 3px;
	color: rgb(255, 255, 255);
}

body{
	background-color: rgb(230, 230, 230);
	

}

.encabezado{
	display: flex;
	flex-wrap: wrap;
	
}
.puerto{
	height: 50px;
	align-self: flex-end;
	margin: 15px;
	position: sticky;
}
h1{	
	width: 100%;
	text-align: center;
	padding: 15px 0 0 0px;
	margin: 0 0 15px 0px;
	background: var(--morado);
	border-bottom: 10px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

.contenido{	
	display: flex;
	flex-wrap: wrap;

}
h2{
	width: 100%;
	padding: 20px 0px 0 30px;
	color: var(--naranja);
}
h3{
	width: 100%;
	padding: 20px 0px 0 30px;
	color: var(--naranja);
}
